.hero {
    background-color: var(--bg-gray);
    border-bottom: 6px solid #6db33f;
}

.hero__wrapper {
    padding: 48px 0;
}

.hero__title {
    font-size: 56px;
    font-weight: 600;
    padding: 2rem 0 0;
    line-height: 1.7rem;
    margin: 0;
}

.hero__text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin: 20px 0 0;
    max-width: 960px;
    padding: 0 0 2rem;
}